* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../fundo2.png');
     background-size: cover; 
    background-repeat: no-repeat; 
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}


.container main{

    margin-right: 25rem;
}
.image {
    position: fixed;
    top: 0;
    left: 0;
    width: 45vw; 
    height: 100vh; 
    overflow: hidden; 
    z-index: -1; 
}

.image img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.arrow {
    position: absolute;
    bottom: 50px;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    background-color: #d84315;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
    
}

.arrow.left {
    left: 60.6rem;
    

}

.arrow.right {
    margin-left: 30rem;
   
}
  
.title {
    font-size: 2.5em;         
              
    font-weight: bold;        
    text-align: center;       
    margin-bottom: 10px;    
    margin-right: -10rem;  
  }

  li {

    padding-left: 10px;
    color: 
    line-height: 150%;
    text-align: center;
}

li + li {

    margin-top: 8px;
    text-align: center;
    margin-left: 17rem;
    
}

ol, ul {
    list-style-type: none;

    margin-left: 20px;
    text-align: center;
    margin-left: -26em;
}

p {

    
    line-height: 150%;
    margin-bottom: 32px;
    text-align: center;
    margin-left: -25rem;

}

    h1{
        text-align: center;
        

    }
      